<div class="container">
  <div class="jumbotron">
    <div class="col">
      <h1>OrgId Dataset Testing</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3><a href="/widget">Simple institution lookup</a></h3>
      <p>
        Simple demo of an interactive institution lookup widget
      </p>
      <h3><a href="/geo-widget">Location based institution lookup</a></h3>
      <p>
        Extension of the above demo that allows filtering by institution country. The users current location provides
        the default country used to filter results.
      </p>

      <h3><a href="/compare">Compare random affiliation across datasets</a></h3>
      <p>
        Compare how well each of the test dataset matches a single affiliation, e.g. a random affiliation taken from CrossRef
      </p>

      <h3><a href="/score">Compare and score affiliations across datasets</a></h3>
      <p>
        Compare and score how well each of the dataset matches a number of affiliations
      </p>

    </div>
  </div>

</div>
