<% content_for :scripts do %>
  <script src="/widget.js"></script>
<% end %>

<div class="container">
  <div class="jumbotron">
    <div class="col">
      <h1>Simple Comparison Widget</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form>
        <h2>Institution Name</h2>
        <p>
          Please type in the name of the institution with which you are affiliated.
        </p>
        <fieldset class="form-group">
          <input type="text" id="org-name" class="col-10">
        </fieldset>

        <fieldset class="form-group">
          <legend>Dataset</legend>

          <% @datasets.each_with_index do |(key, config), index| %>
              <div class="form-check">
              <label class="form-check-label">
                <input type="radio"
                       class="form-check-input"
                       name="datasets"
                       id="dataset-#{key}"
                       value="org-id-<%=key%>"
                       <%= index == 0 ? 'checked' : '' %>>
                <%= config["name"] %>
              </label>
          </div>

          <% end %>

        </fieldset>

        <p id="debug"></p>

      </form>
    </div>
  </div>
</div>
