Django==2.2.18
elasticsearch_dsl==6.4.0
pycountry==19.8.18
requests==2.22.0
requests-aws4auth==0.9
mock==3.0.5
base32_crockford==0.3.0
elasticsearch==6.4.0
djangorestframework==3.11.2
coreapi==2.3.3
django-prometheus==1.0.15
sentry-sdk==0.12.2
python-dotenv==0.10.3
django-cors-headers==3.1.0
unidecode==1.1.1
fuzzywuzzy==0.17.0
python-Levenshtein==0.12.1
statsmodels==0.10.2
boto3==1.20.49
update_address @ git+https://github.com/ror-community/update_address.git
